[submodule "custom/glium"]
	path = custom/glium
	url = git@github.com:mikolasan/glium.git
	branch = imgui
[submodule "custom/imgui-rs"]
	path = custom/imgui-rs
	url = git@github.com:mikolasan/imgui-rs.git
	branch = fix-glium
